/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
}

header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    color: orangered;
    text-decoration: underline;
}

header .contact-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.wrapper {
    max-width: 1290px;
    margin: auto;
}



.mobile-intro-text {
display: none;
}

.intro-text, .about-text {
    max-width: 520px;
}

.intro-text h1, .intro-text h2 {
    font-size: 44px;
    margin: 0;
}

.intro-text h1 span, .about-text h2 span, .about-text h1 span {
    color: orangered;
}

.intro-text .btn {
    background-color: orangered;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}

.intro-image, .about-image {
    border-radius: 101% / 145%;
}

.intro-image img, .about-image img {
    max-width: 27rem;
    height: 34rem;
    border-radius: 53% / 53%;
    object-fit: cover;
}

.intro .buttons {
    margin-top: 26px;
}

.intro .wrapper, .about-me .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 50px;
}

.about-me {
    background-color: #333;
    color: white;
}

.about-me .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.contact-form {
    padding: 50px;
    background-color: #fff;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label {
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form form button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin: 10px 0 0 0;
}

@media (max-width: 768px) {
    .intro .wrapper, .about-me .wrapper {
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .intro-image .overlay {
        height: 100%;
        width: 100%;
        opacity: .7;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    .mobile-intro-text {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 888;
        padding: 12px; 
        max-width: 80vw;
    }

    .mobile-intro-text h1 span, .about-text h2 span, .about-text h1 span {
        color: orangered;
    }

    .mobile-intro-text * {
        text-align: left;
        color: #fff;
        margin: 0;
    }

    .intro-text {
        display: none;
        max-width: 520px;
    }
    
    .intro-text h1, .intro-text h2 {
        font-size: 44px;
        margin: 0;
    }
    
    .intro-text h1 span, .about-text h2 span, .about-text h1 span {
        color: orangered;
    }
    
    .intro-text .btn {
        background-color: orangered;
        color: white;
        padding: 12px 28px;
        text-decoration: none;
        border-radius: 5px;
        margin: 20px 0;
    }
    
    .intro-image {
        border-radius: none;
        position: relative;
    }
    
    .intro-image img {
        width: 100%;
        height: 42vh;
        object-fit: cover;
        border-radius: 0;
    }

    .about-me {
        background-color: #fff;
    }

    .about-image {
        display: none;
    }

    .about-text {
        display: block;
        padding: 6px;
        margin-top: 14px;
        color: black; 
    }

    .about-text * {
        margin: 0;
        padding: 2px 0;
    } 

    .intro {
        flex-direction: column;
        text-align: center;
    }
    

    .intro-text,
    .intro-image {
        max-width: 100%;
    }

    header nav ul {
        display: none;
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }
}
