/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    z-index: 999;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-underline-offset: 0.5em;
    padding-bottom: 6px;
    color: #fff;
    /* background:
        linear-gradient(
        to right,
        #000000,
        rgb(255, 205, 205),
        rgba(0, 0, 0, 1)
    );
    background-size: 100% 2px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms; */
    opacity: .7;
}

header nav ul li a:hover {
    background-size: 0 3px, 100% 3px;
    color: #fff;
    opacity: 1;
}

header .contact-btn {
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.wrapper {
    max-width: 1290px;
    margin: auto;
}

.mobile-intro-text {
    display: none;
}

.intro-text, .about-text {
    max-width: 520px;
}

.intro-text h1, .intro-text h2 {
    font-size: 44px;
    font-weight: 900;
    line-height: 46px;
}

.intro-text h1 span, .about-text h2 span, .about-text h1 span {
    color: orangered;
}

.intro-text .btn {
    background-color: orangered;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 0;
}

.mobile-hero-image, .about-image {
    border-radius: 101% / 145%;
}

.mobile-hero-image img, .about-image img {
    max-width: 27rem;
    height: 34rem;
    border-radius: 53% / 53%;
    object-fit: cover;
}

.intro .buttons {
    margin-top: 26px;
}

.intro .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 50px 12px;
}

.about-me {
    background-color: #333;
    color: white;
    width: 100%;
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.about-me img {
    width: 100vw;
    height: 160%;
    object-fit: cover;
    position: absolute;
    left: -25%;
    bottom: -70%;
    rotate: 20deg;   
}

.about-me .overlay {
    position: absolute;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me .overlay div {
    max-width: 60vw;
    text-align: center;
}

.about-me .overlay div h1 {
    font-size: 44px;
    font-weight: 900;
}

.about-me .overlay div h1 span {
    color: orangered;
}

/* EDUCATION */

.education {
    background-color: #f7f7f7;
}

.education .wrapper {
    padding: 50px 12PX;
}

.section-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
    max-width: 35vw;
}

.section-title h1 {
    font-size: 44px;
    font-weight: 900;
    color: orangered;
}

.education .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.education .card-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fff;
    max-width: 390px;
    border-radius: 4px;
    padding: 8px;
    outline: 1px solid #0000000e;
}

.education .card-wrapper div h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: auto;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin: 10px 0 0 0;
}

/* 
MOBILE VIEW MOBILE VIEW MOBILE VIEW
*/
@media (max-width: 768px) {
    .intro .wrapper, .about-me .wrapper {
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }

    .mobile-hero-image .overlay {
        height: 100%;
        width: 100%;
        opacity: .7;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    .mobile-intro-text {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 888;
        padding: 12px; 
        max-width: 80vw;
    }

    .mobile-intro-text h1 span {
        color: orangered;
    }

    .mobile-intro-text * {
        text-align: left;
        color: #fff;
        margin: 0;
    }

    .intro-text {
        display: none;
    }
    
    .mobile-intro-text h1, .mobile-intro-text h2 {
        font-size: 24px;
        font-weight: 800;
    }
    
    .intro-text h1 span, .about-text h2 span, .about-text h1 span {
        color: orangered;
    }
    
    .intro-text .btn {
        background-color: orangered;
        color: white;
        padding: 12px 28px;
        text-decoration: none;
        border-radius: 5px;
        margin: 20px 0;
    }
    
    .mobile-hero-image {
        border-radius: none;
        position: relative;
    }
    
    .mobile-hero-image img {
        width: 100%;
        height: 42vh;
        object-fit: cover;
        border-radius: 0;
    }

    .about-me {
        background-color: #fff;
        max-height: 28vh;
    }

    .about-me .overlay div {
        max-width: 90vw;
        text-align: center;
    }

    .about-me .overlay div h1 {
        font-size: 24px;
    }
    
    .about-me .overlay div h1 span {
        color: orangered;
    }


    .intro {
        flex-direction: column;
        text-align: center;
    }
    

    .intro-text,
    .mobile-hero-image {
        max-width: 100%;
    }

    header nav ul {
        display: none;
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .section-title {
        max-width: 85vw;
    }

    .education .card-wrapper div {
        min-width: 100%;
    }
}